<%= stylesheet_link_tag 'landing.css' %>


<div class="content">
  <div class="row">
    <div class="col-6">
      <div class="text">Coaching WEB platform</div>
      <div class="text-after">where coaches help users to deal with anxiety and depression</div>
      <%= link_to "JOIN US", sign_up_user_path, class: "btn btn-join-us" %>
    </div>
    <div class="col-6">
      <img src="<%= asset_path('sydney-sims-fZ2hMpHIrbI-unsplash.jpg') %>">
    </div>
  </div>

  <div class="row marg">
    <div class="col-4">
      <div class="stats-data">151</div>
    </div>
    <div class="col-4">
      <div class="stats-data">50</div>
    </div>
    <div class="col-4">
      <div class="stats-data">356</div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-4">
      <div class="stats-field">Effective techniques</div>
    </div>
    <div class="col-4">
      <div class="stats-field">Qualified coaches</div>
    </div>
    <div class="col-4">
      <div class="stats-field">Satisfied users</div>
    </div>
  </div>
</div>

<a name="content-two">
  <div class="content-two">
    <h3>How it work?</h3>
    <div class="row">
      <div class="col-6">
        <div class="colum-users-coaches">
          For users
        </div>
      </div>
      <div class="col-6">
        <div class="colum-users-coaches">
          For coaches
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="row-width">
          <div class="row box">
            <div class="col-2 number-size">
              1
            </div>
            <div class="col-10">
              <div class="text-col-10"> You can choose the coach with whom you will be most comfortable working.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row-width">
          <div class="row box">
            <div class="col-2 number-size">
              1
            </div>
            <div class="col-10">
              <div class="text-col-10"> You can choose the coach with whom you will be most comfortable working.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <div class="row-width">
          <div class="row box">
            <div class="col-2 number-size">
              2
            </div>
            <div class="col-10">
              <div class="text-col-10"> Your coach will make a program for you using the best psychotherapy techniques
                available today.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row-width">
          <div class="row box">
            <div class="col-2 number-size">
              2
            </div>
            <div class="col-10">
              <div class="text-col-10"> We have all the most modern and latest techniques in the field of psychotherapy for
                you and your users.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <div class="row-width">
          <div class="row box">
            <div class="col-2 number-size">
              3
            </div>
            <div class="col-10">
              <div class="text-col-10">Your coach will support you in personal communication throughout the program and
                you will see real progress and feel better!</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row-width">
          <div class="row box">
            <div class="col-2 number-size">
              3
            </div>
            <div class="col-10">
              <div class="text-col-10">You can get real practice as a psychotherapist, observing the progress of your work
                with various problems of users online.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

<a name="content-techniques">
  <div class="content-techniques">
    <div class="title">Techniques</div>
    <div class="about-techniques">Our service offers the best techniques for our users</div>
    <br>
    <div class="row">
        <% @techniques.each do |technique|%>
          <% if Recommendation.find_by(technique_id: technique.id) %>
            <div class="col-6 distance">
              <div class="card h-100">
                <div class="item">
                  <% if technique.photo.attached? %>
                    <img src="<%= url_for(technique.photo) %>" class= "card-img-top" alt="...">
                  <% else %>
                    <img src="<%= asset_path('anthony-tran-vXymirxr5ac-unsplash.jpg') %>" class="card-img-top" alt="...">
                  <% end %>

                  <% if technique.problems %>
                    <div class="tags-div-absolute">
                      <% technique.problems.each do |problem|%>
                        <span class="tags-in-image "><%= problem.title %></span>
                      <% end %>
                    </div>
                  <% end %>

                </div>
                <div class="card-body">
                  <h6 class="title_card"><%= technique.title %></h6>

                  <p class="description"><%= technique.description %></p>
                  <div class="age">Age: <strong><%= technique.age %> years</strong></div>
                  <div class="gender">Gender: <strong><%= technique.gender %></strong></div>
                  <br>
                  <div class="step">Steps:<strong> <%= technique.total_steps %></strong></div>
                  <div class="duration">Duration:<strong> <%= technique.duration %></strong></div>
                  <ul class="hr">
                    <li><i class="bi bi-people"></i> <%= technique.users_amount %></li>
                    <li><i class="bi bi-hand-thumbs-up"></i> <%= technique.likes_amount %></li>
                    <li><i class="bi bi-hand-thumbs-down"></i> <%= technique.dislikes_amount %></li>
                  </ul>
                </div>
                <br>
              </div>

            </div>
          <% else %>
            <div class="col-6 distance">
              <div class="card h-100">
                <div class="item">
                  <% if technique.photo.attached? %>
                    <img src="<%= url_for(technique.photo) %>" class= "card-img-top" alt="...">
                  <% else %>
                    <img src="<%= asset_path('anthony-tran-vXymirxr5ac-unsplash.jpg') %>" class="card-img-top" alt="...">
                  <% end %>

                  <% if technique.problems %>
                    <div class="tags-div-absolute">
                      <% technique.problems.each do |problem|%>
                        <span class="tags-in-image "><%= problem.title %></span>
                      <% end %>
                    </div>
                  <% end %>

                </div>
                <div class="card-body">
                  <h6 class="title_card"><%= technique.title %></h6>

                  <p class="description"><%= technique.description %></p>
                  <div class="age">Age: <strong><%= technique.age %> years</strong></div>
                  <div class="gender">Gender: <strong><%= technique.gender %></strong></div>
                  <br>
                  <div class="step">Steps:<strong> <%= technique.total_steps %></strong></div>
                  <div class="duration">Duration:<strong> <%= technique.duration %></strong></div>
                  <ul class="hr">
                    <li><i class="bi bi-people"></i> <%= technique.users_amount %></li>
                    <li><i class="bi bi-hand-thumbs-up"></i> <%= technique.likes_amount %></li>
                    <li><i class="bi bi-hand-thumbs-down"></i> <%= technique.dislikes_amount %></li>
                  </ul>
                </div>
                <br>
              </div>

            </div>
          <% end %>
        <% end %>
      </div>

    <br>
    <div class="about-techniques">Do you want to let go of your worries and fears?</div>
    <br>
    <div class="center">
      <!-- <button class="btn btn-join-us-center">JOIN US</button> -->
      <%= link_to "JOIN US", sign_up_user_path, class: "btn btn-join-us-center" %>

    </div>
  </div>
</a>
<a name="content-coaches">
  <div class="content-coaches">
    <div class="title">Coaches</div>
    <div class="about-techniques">Ability to choose the coach, who will select each user technique individually</div>
    <br>
    <div class="row">
        <% @coaches.each do |coach|%>
          <div class="col-6">
            <div class="card">
              <div class="body">
                <div class="small-card">
                  <div class="image-avatar-small">
                    <% if coach.avatar.attached? %>
                      <img src="<%= url_for(coach.avatar) %>" class= "image-size rounded-circle ">
                    <% else %>
                      <img src="<%= asset_path('generic-user-icon-10.png') %>" class="image-size rounded-circle">
                    <% end %>
                  </div>
                  <div class="name-coach">
                    <span class="coach-name"><%= coach.name %></span><br>
                    <span class="status">Coach</span>
                    <p class="coach-info-left"><%= coach.age %> years | <%= coach.gender %> | <%= Invitation.where(coach_id: coach.id).count%> users</p>
                    <p class="tages-info">Areas of Expertise</p>
                    
                    <% coach.problems.each do |coach_problems|%>
                      <span class="tags"><%= coach_problems.title %></span>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        <% end %>

      </div>

    <div class="about-techniques">Do you want to help people?</div>
    <div class="about-techniques"> Do you have experience and skills in psychotherapy?</div>
    <br>
    <div class="center">
      <!-- <button class="btn btn-join-us-center">BECOME COACH</button> -->
      <%= link_to "BECOME COACH", sign_up_coach_path, class: "btn btn-join-us-center" %>
    </div>
  </div>
</a>

