<%= stylesheet_link_tag 'user.css' %>

<nav class="navbar navbar-expand-lg nav_background fixed-top">
  <div class="container-fluid pad">
    <a class="navbar-brand logo logo-button" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link nav-link-style" aria-current="page" href="#content-two">Dashboard</a>
          <a class="nav-link nav-link-style" href="#content-techniques">My techniques</a>
          <a class="nav-link nav-link-style" href="#content-coaches">Coaches</a>
        </div>
      </div>

      <div class="d-flex">
        <div class="envelope-block"><i class="bi bi-envelope"></i>
      </div>

      <div class="bell-block">
        <i class="bi bi-bell" ></i>
      </div>

      <div class="me-3 dropdown">
        <% if @user.avatar.attached? %>
          <img src="<%= url_for(@user.avatar) %>" class= "rounded-circle size-image" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        <% else %>
          <img src="<%= asset_path('camera.png') %>" class="rounded-circle size-image" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        <% end %>
          <%= link_to 'Edit Personal Information', update_user_profile_path, class: "dropdown-item" %>
          <%= link_to 'Change Password', password_change_user_path, class: "dropdown-item" %>
      </div>

      <%= button_to 'LOG OUT', logout_user_path, method: :delete, class: "btn btn-sing-in" %>
    </div>
  </div>
</nav>


<div class="content-techniques">

  <%= content_for?(:content) ? yield(:content) : yield %>

</div>
